.gallery {
  position: relative;
}

.indexButton {
  position: absolute;
  width: 30%;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none !important;
  font-size:0;
}

.indexButton.left {
  left: 0;
  cursor: url("/left-arrow.cur"), pointer;
}

.indexButton.right {
  right: 0;
  cursor: url("/right-arrow.cur"), pointer;
}

.newTabButton {
  position: absolute;
  left: 30%;
  right: 30%;
  width: 40%;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none !important;
  font-size:0;
  cursor: zoom-in;
}
